body {
    margin-bottom: 50px;
}

.table tbody>tr>td{
    vertical-align: middle;
}

.table-hover tbody tr:hover td {
  background-color: #faf2cc;
}

#collapseForm, #collapsePassForm{
    padding: 10px;
}