{% extends "base.html" %}

{% block content %}

    {% if formSearch.errors %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="alert alert-danger" role="alert">
                    Search query is invalid. Please try again.
                </div>
            </div>
        </div>
    {% else %}
        <div class="page-header">
            <h1>Book search</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-info" role="alert">
                    Enter multiple authors or genres by separating them with comas.
                    <br>
                    You can leave some fields empty.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="well">
                <form method="get" action="{% url 'books.views.book_search' %}">

                    {%  load crispy_forms_tags %}
                    {% crispy formSearch %}

                </form>
            </div>
        </div>
    {% endif %}

    <div class="page-header">
        <h2>Results</h2>
    </div>

    {% if not bookset %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="alert alert-danger text-center" role="alert">
                    No matches found.
                </div>
            </div>
        </div>
    {% else %}
        <table class="table table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th>#</th>
                <th>Author(s)</th>
                <th>Title</th>
                <th>Publisher</th>
                <th>Year</th>
                <th>Genre(s)</th>
            </tr>
            </thead>
            <tbody>
                {% for book in bookset %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {% for author in book.authors.all %}
                                {{ author }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td><em><a href="{{ book.get_absolute_url }}">{{book.title}}</a></em></td>
                        <td>{{book.publisher}}</td>
                        <td>{{book.year}}</td>
                        <td>
                            {% for genre in book.genre.all %}
                                {{ genre.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}

{% block title %}
    {% if bookset %}
        Search results - 
    {% else %}
        Search books -
    {% endif %}
{% endblock %}