{% extends "base.html" %}

{% block content %}

    <div class="page-header">
        <h1>Registration success</h1>
    </div>

    <div class="alert alert-success">
        <strong>{{ name }}</strong>, your account was created. In the next few days, library administrator will send you a confirmation email to address: <strong>{{ email }}</strong>. Please be patient... :)
    </div>

{% endblock %}

{% block title %}
Create account - 
{% endblock %}