{% extends "base.html" %}

{% block content %}

    <div class="page-header">
        <h1>Registration form</h1>
    </div>

    <div class="alert alert-info">
        Please complete the form below to create an account.<br>
        Required fields are indicated with an asterisk (*).
    </div>

    {% if formU.errors or formR.errors %}
        <div class="alert alert-danger">Form is invalid. Please correct the mistakes and try again.</div>
    {% endif %}

    <div class="well">
        <form method="post" action="{% url 'readers.views.create' %}">
            {% load crispy_forms_tags %}
            {% crispy formU %}
            {% crispy formR %}
        </form>
    </div>

{% endblock %}

{% block title %}
Create account - 
{% endblock %}