{% extends "base.html" %}

{% block content %}

    <div class="page-header">
        <h1>My Books</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Queue</h3>
        </div>
        {% if not queue_info %}
            <div class="panel-body">
                You have no queued books.
            </div>
        {% endif %}
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Author(s)</th>
                    <th>Title</th>
                    <th>Publisher</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                {% for item in queue_info %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {% for author in item.book_item.book.authors.all %}
                                {{ author.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td><em>{{ item.book_item.book.title }}</em></td>
                        <td>{{ item.book_item.book.publisher }}</td>
                        <td>{{ item.book_item.book.year }}</td>
                        <td>
                            <form id="f0" method="post" action="{% url 'books.views.cancel_queue' %}">
                                {% csrf_token %}
                                <div class="text-center">
                                    <button form="f0" type="submit" class="btn btn-danger btn-sm" value="cancel" name="name">Cancel queue</button>
                                </div>
                                <input type="hidden" name="queue_id" value="{{ item.id }}" />
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Reserved</h3>
        </div>
        {% if not reserve_info %}
            <div class="panel-body">
                You have no reserved books.
            </div>
        {% endif %}
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    {% if user_now == 'admin' %}
                    <th>Username</th>
                    {% endif %}
                    <th>#</th>
                    <th>Author(s)</th>
                    <th>Title</th>
                    <th>Publisher</th>
                    <th>Year</th>
                    <th>Reservation expires</th>
                </tr>
            </thead>
            <tbody>
                {% for reserve, reservation_expiry_date, nicks1 in reserve_info %}
                    <tr>
                        {% if user_now == 'admin' %}
                        <td>{{ nicks1 }}</td>
                        {% endif %}
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {% for author in reserve.book_item.book.authors.all %}
                                {{ author.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td><em>{{ reserve.book_item.book.title }}</em></td>
                        <td>{{ reserve.book_item.book.publisher }}</td>
                        <td>{{ reserve.book_item.book.year }}</td>
                        <td>{{ reservation_expiry_date }}</td>
                        <td>
                            <form id="f1" method="post" action="{% url 'books.views.cancel_reservation' %}">
                                {% csrf_token %}
                                <div class="text-center">
                                    <button form="f1" type="submit" class="btn btn-danger btn-sm" value="cancel" name="name">Cancel reservation</button>
                                {% if user_now == 'admin' %}
                                    <button form="f1" class="btn btn-danger btn-sm" name="name" value="add">Add to borrowed</button>
                                {% endif %}
                                </div>
                                <input type="hidden" name="nick" value="{{ nicks1 }}"/>
                                <input type="hidden" name="requested_book_title" value="{{ reserve.book_item.book.title }}" />
                                <input type="hidden" name="requested_book_publisher" value="{{ reserve.book_item.book.publisher }}" />
                                <input type="hidden" name="requested_book_year" value="{{ reserve.book_item.book.year }}" />
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Borrowed</h3>
        </div>
        {% if not borrow_info %}
            <div class="panel-body">
                You have no borrowed books.
            </div>
        {% endif %}
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        {% if user_now == 'admin' %}
                            <th>Username</th>
                            {% endif %}

                        <th>#</th>
                        <th>Author(s)</th>
                        <th>Title</th>
                        <th>Publisher</th>
                        <th>Year</th>
                        <th>Expiry date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for borrows, borrow_expiry_date, nicks2 in borrow_info %}
                        <tr>
                        {% if user_now == 'admin' %}
                        <td>{{ nicks2 }}</td>
                        {% endif %}
                            <td>{{ forloop.counter }}</td>
                            <td>
                                {% for author in borrows.book_item.book.authors.all %}
                                    {{ author.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td><em>{{ borrows.book_item.book.title }}</em></td>
                            <td>{{ borrows.book_item.book.publisher }}</td>
                            <td>{{ borrows.book_item.book.year }}</td>
                            <td>{{ borrow_expiry_date }}</td>
                            <td>
                                <form id="f2" method="post" action="{% url 'books.views.cancel_borrow' %}">
                                {% csrf_token %}
                                <div class="text-center">
                                    <button form="f2" type="submit" class="btn btn-danger btn-sm" value="cancel" name="name">Cancel borrow</button>
                                {% if user_now == 'admin' %}
                                    <button form="f2" class="btn btn-danger btn-sm" name="name" value="add">???</button>
                                {% endif %}
                                </div>
                                <input type="hidden" name="nick" value="{{ nicks2 }}"/>
                                <input type="hidden" name="requested_book_title" value="{{ borrows.book_item.book.title }}" />
                                <input type="hidden" name="requested_book_publisher" value="{{ borrows.book_item.book.publisher }}" />
                                <input type="hidden" name="requested_book_year" value="{{ borrows.book_item.book.year }}" />
                            </form>
                        </td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
{#        {% endif %}#}
     </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Book selling status</h3>
            <p class="bg-info">When we accept your offer, look at "price" field - price may be lower than you declared (we can change the price if it's to much for us)</p>
        </div>
        {% if not sell_info %}
            <div class="panel-body">
                You have no transactions for selling books to us.
            </div>
        {% else %}
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Author(s)</th>
                        <th>Title</th>
                        <th>Publisher</th>
                        <th>URL</th>
                        <th>Quality</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th>Our acceptance</th>
                        <th>Yours acceptance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sell in sell_info %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ sell.book_authors }}</td>
                            <td><em>{{ sell.book_title }}</em></td>
                            <td>{{ sell.book_publisher }}</td>
                            <td>{{ sell.book_url }}</td>
                            <td>{{ sell.book_status }}</td>
                            <td>{{ sell.book_price }}</td>
                            <td>{{ sell.date }}</td>
                            <!-- admin_confirmed -->
                            {% if sell.admin_confirmed %}
                                <td class="bg-success">Yes</td>
                            {%  else %}
                                <td class="bg-danger">No</td>
                            {%  endif %}
                            <!-- user_confirmed -->
                            {% if sell.admin_confirmed %}
                                {% if sell.user_confirmed %}
                                    <td class="bg-success">Yes <a href="/account/sell/confirm_no/{{ sell.id }}"><button class="btn btn-danger">Change to No</button></a></td>
                                {%  else %}
                                    <td class="bg-danger">No <a href="/account/sell/confirm_yes/{{ sell.id }}"><button class="btn btn-success">Change to Yes</button></a></td>
                                {%  endif %}
                            {% else %}
                                <td class="bg-warning">Wait for our decision</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
     </div>

{% endblock %}

{% block title %}
    My books -
{% endblock %}
