{% extends "base.html" %}

{% block content %}

    <div class="alert alert-info">
        Please enter your username and password to log in. If you don't have an account yet, <strong><a href="/account/create/" class="alert-link">click here</a></strong> to register.
    </div>

    <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="well">
            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input class="form-control" type="text" name="username" placeholder="username" autofocus/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input class="form-control" type="password" name="password" placeholder="password"/>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>

{% endblock %}

{% block title %}
Log in to 
{% endblock %}