{% extends "base.html" %}

{% block content %}

{% if reader%}
    <div class="page-header">
        <h1>Reader's personal details</h1>
    </div>

    {% if message %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center"><h3>Personal details</h3></div>
            <table class="table table-striped table-condensed">
                <tbody>
                    <tr>
                        <td>
                            <div class="btn btn-sm" disabled>
                                <span>@</span>
                            </div>
                            <strong class="text-uppercase">Username:</strong>
                        </td>
                        <td>{{ reader.user.username }}</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="btn btn-sm" disabled="">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <strong class="text-uppercase">E-mail:</strong></td>
                        <td>
                            {{ reader.user.email }}
                            <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false">Change</button>
                            <div class="collapse" id="collapseForm">
                                <form class="form" method="post" action="{% url 'readers.views.change_email' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <input class="form-control" type="email" name="email" placeholder="New e-mail"/>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="btn btn-sm" disabled="">
                                <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <strong class="text-uppercase">First name:</strong></td>
                        </td>
                        <td>{{ reader.user.first_name }}</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="btn btn-sm" disabled="">
                                <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <strong class="text-uppercase">Last name:</strong></td>
                        </td>
                        <td>{{ reader.user.last_name }}</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="btn btn-sm" disabled="">
                                <span class="glyphicon glyphicon-tag"></span>
                            </div>
                            <strong class="text-uppercase">Pesel:</strong></td>
                        </td>
                        <td>{{ reader.pesel }}</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="btn btn-sm" disabled="">
                                <span class="glyphicon glyphicon-home"></span>
                            </div>
                            <strong class="text-uppercase">Address:</strong></td>
                        </td>
                        <td>
                            {{ reader.address }}
                            <br> {{ reader.postal_code }} {{ reader.city }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <div class="text-center">
                    <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapsePassForm" aria-expanded="false">Change Password</button>
                    <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" onclick="javascript:location.href='{% url 'readers.views.personal_change' %}'" aria-expanded="false">Change Profile</button>
                    <div id="collapsePassForm" class="collapse">
                        <form class="form form-inline" method="post" action="{% url 'readers.views.change_password' %}">
                            {% csrf_token %}
                            <div class="row">
                                <label for="passInput1" class="col-sm-6">Enter new password:</label>
                                <input id="passInput1" class="form-control col-sm-6" type="password" name="password1"/>
                            </div>
                            <div class="row">
                                <label for="passInput2" class="col-sm-6">Confirm new password:</label>
                                <input id="passInput2" class="form-control col-sm-6" type="password" name="password2"/>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="page-header">
        <h2>I am sad user... :(</h2>
    </div>
{% endif %}

{% endblock %}

{% block title %}
Personal details - 
{% endblock %}