{% extends "base.html" %}

{% block content %}

    <div class="page-header">
        <h1>Profile info change form</h1>
    </div>

    {% if message %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="well">
        <form method="post" action="{% url 'readers.views.personal_change' %}">
            {% load crispy_forms_tags %}
            {% crispy formU %}
            {% crispy formR %}
        </form>
    </div>

{% endblock %}

{% block title %}
Change profile -
{% endblock %}