{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Sell a book to us!</h1>
    <p>If u want to sell a book or contribute to the community, this place is for you!</p>
    <p>Just fill in the form below. We will check it. All info about transcation is visible in "My Books" tab.</p>
    <p>If the book is desirable, we will accept your offer
        (and change prize if is to high) and you will see our propositon.</p>
    <p>You can accept it. After that you're able to send the book to us (address will be visible).</p>
    <p>Admin manages info about transation - when it's completed or non-actual,
        the info about it will be deleted.</p>
</div>

{% if message and message_class %}
    <div class="alert alert-{{ message_class }}">
        <p>{{ message }}</p>
    </div>
{% endif %}

<form method="POST" action="/account/sell/">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}