{% extends "base.html" %}

{% block content %}

    <div class="page-header">
        <h1>Suggest a book</h1>
        <p>Bring new book to our store!</p>
    </div>

    {% if message and message_class %}
        <div class="alert alert-{{ message_class }}">
            <p>{{ message }}</p>
        </div>
    {% endif %}

    <form method="POST" action="/account/suggest/">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}

{% block title %}
    Suggest a book -
{% endblock %}