{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1>My Books</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Users to accept</h3>
        </div>
        {% if not readers %}
            <div class="panel-body">
                There are no users to accept.
            </div>
        {% endif %}
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>Username</th>
                    <th>Pesel</th>
                    <th>E-mail</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Postal-code</th>
                </tr>
            </thead>
            <tbody>
                {% for reader in readers %}
                    <tr>
{% if reader.user.is_active == 0 %}
                        <td>{{ forloop.counter }}</td>
                        <td>
                        {{ reader.user.first_name }}
                        </td>
                        <td><em>{{ reader.user.last_name }}</em></td>
                        <td>{{ reader.user.username }}</td>
                        <td>{{ reader.pesel }}</td>
                        <td>{{ reader.user.email }}</td>
                        <td>{{ reader.address }}</td>
                        <td>{{ reader.city }}</td>
                        <td>{{ reader.postal_code }}</td>
</tr>
{% endif %}
{% endfor %}
        </tbody></table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Accepted users</h3>
        </div>
        {% if not readers %}
            <div class="panel-body">
                There are no users.
            </div>
        {% endif %}
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>Username</th>
                    <th>Pesel</th>
                    <th>E-mail</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Postal-code</th>
                </tr>
            </thead>
            <tbody>
                {% for reader in readers %}
                    <tr>
{% if reader.user.is_active == 1 %}
                        <td>{{ forloop.counter }}</td>
                        <td>
                        {{ reader.user.first_name }}
                        </td>
                        <td><em>{{ reader.user.last_name }}</em></td>
                        <td>{{ reader.user.username }}</td>
                        <td>{{ reader.pesel }}</td>
                        <td>{{ reader.user.email }}</td>
                        <td>{{ reader.address }}</td>
                        <td>{{ reader.city }}</td>
                        <td>{{ reader.postal_code }}</td>
{% endif %}         </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block title %}
    Users -
{% endblock %}