{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}{% endblock %}Lib.rar</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/screen.css' %}">

	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#mynavbar-content">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">Lib.rar</a>
			</div>

			<div class="collapse navbar-collapse" id="mynavbar-content">
				<ul class="nav navbar-nav">
					<li class="{% ifequal request.path '/' %} active {% endifequal %}"><a href="/">Home</a></li>
					<li class="{% ifequal request.path '/account/info/' %} active {% endifequal %}"><a href="/account/info/">My Account</a></li>
					<li class="{% ifequal request.path '/account/items_info/' %} active {% endifequal %}"><a href="/account/items_info/">My Books</a></li>
                    <li class="{% ifequal request.path '/account/sell/' %} active {% endifequal %}"><a href="/account/sell/">Sell Books</a></li>
					<li class="{% ifequal request.path '/books/search/' %} active {% endifequal %}"><a href="/books/search/">Search</a></li>
                    <li class="{% ifequal request.path '/books/suggest/' %} active {% endifequal %}"><a href="/account/suggest/">Suggest a book</a></li>
					{% if user.username == 'admin' %}
                    <li class="{% ifequal request.path '/account/users/' %} active {% endifequal %}"><a href="/account/users/">Users</a></li>
					{% endif %}

				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
                        <li><a href="/account/info/">{{ user.username }}</a></li>
                        <li><a href="/account/logout/">Logout</a></li>
					{% else %}
                        <li class="{% ifequal request.path '/account/create/' %} active {% endifequal %}"><a href="/account/create/">Register</a></li>
                        <li class="{% ifequal request.path '/account/login/' %} active {% endifequal %}"><a href="/account/login/">Login</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
        {% if form.errors %}
            <div class="alert alert-danger">
                Your username and password didn't match. Please try again.
            </div>
        {% endif %}

	    {% block content %}
	    {% endblock %}
	</div>

	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
