
{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

    <div class="col-sm-6 col-sm-offset-3">
        <img src="{% static 'logo.png' %}">
        <h3 class="text-center">
            <a href="/account/create/">Create account</a> and dive into books!
        </h3>
    </div>

{% endblock %}